body {
    font-family: Arial, sans-serif;
    background-image: url('/images/frontpage.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
   }
.navbar {
   background-color: #333;
   overflow: hidden;
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 1000; 
   display: flex;
   justify-content: flex-start; 
   padding: 0 20px; 
}

.hamburger {
   color: white;
   padding: 14px 20px;
   cursor: pointer;
   text-align: center;
}

#dropdownMenu, #settingsPanel {
   display: none;
   position: fixed;
   top: 60px; 
   padding-top: 20px;
   z-index: 2;
}

#dropdownMenu {
   background-color: #f9f9f9;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   left: 0; 
}

.hamburger:hover + #dropdownMenu, #dropdownMenu:hover, #settingsPanel.active {
   display: block;
}

#dropdownMenu a, #settingsPanel.active a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
}

#dropdownMenu a:hover {
   background-color: #ddd;
}

#settingsPanel {
   left: -250px;
   width: 250px;
   background-color: #333;
   overflow-x: hidden;
   transition: left 0.5s; 
   bottom: 0; 
}

#settingsPanel.active {
   left: 0;
}
.game-selection {
   background-color: rgba(255, 255, 255, 0.2);
   backdrop-filter: blur(10px);
   padding: 20px;
   border-radius: 10px;
   margin: 60px auto 20px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.game {
   flex-basis: 30%;
   margin: 10px;
   padding: 20px;
   border: 1px solid #ddd;
   border-radius: 4px;
   background-color: rgba(0, 0, 0, 0.5);
   cursor: pointer;
   display: flex;
   align-items: center;
}

.game-checkbox {
   margin-right: 10px;
}

form button[type="submit"] {
   background-color: #007bff;
   color: white;
   padding: 15px 30px;
   font-size: 20px;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.3s, transform 0.2s;
   margin-top: 20px;
}

form button[type="submit"]:hover {
   background-color: #0056b3;
   transform: scale(1.05);
}

form button[type="submit"]:active {
   transform: scale(0.95);
}