html, body {
    height: 100%; 
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/images/dark-hexagonal-background-with-gradient-color_79603-1409.png');
    background-size: cover; 
    background-position: center;
    overflow: hidden;
}

#buttonContainer{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}
.Mybuttons{
    border: 3px solid;
    border-radius: 15px;
    background-color: hsl(126, 90%, 58%);
    margin: 33px;
    font-size: 25px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
    outline: none;
}
.Mybuttons:hover{
    background-color: transparent;
    color: hsl(126, 90%, 58%);
    border-color: hsl(126, 90%, 58%);
    transform: scale(1.1)
}
.Mybuttons:active{
    transform: scale(0.9);
}
#firstButton{
    width: 150px;
    padding: 13px;
}
#secondButton{
    width: 150px;
    padding: 13px;

}
#buttonContainer{
    display: flex;
    flex-direction: row;
}

 