html, body {
    height: 100%; 
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/images/dark-hexagonal-background-with-gradient-color_79603-1409.png');
    background-size: cover; 
    background-position: center;
}

#buttonContainer{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}
.Mybuttons{
    border: 3px solid;
    border-radius: 15px;
    background-color: hsl(88, 100%, 50%);
    margin: 3px;
    font-size: 25px; 
}
a{
    text-decoration: none;
    text-shadow: 0 0 3px #9b9999, 0 0 5px #0000FF;
}
#firstButton{
    width: 150px;
    padding: 13px;
}
#secondButton{
    width: 150px;
    padding: 13px;

}
#buttonContainer{
    display: flex;
    flex-direction: row;
}
 