body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: url('/images/settings_image.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.games-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.game-item, .input-item {
    margin: 10px;
}

.game-checkbox {
    display: none;
}

.game-label, .input-label {
    display: inline-flex;
    border: 2px solid #a34caf;
    border-radius: 20px;
    padding: 20px;
    backdrop-filter: blur(10px);
    color: royalblue;
    font-size: 1.3rem;
    margin: 4px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s, color 0.3s;
}

.game-checkbox:checked + .game-label {
    background-color: #a34caf;
    color: white;
}

.submit-container {
    width: 100%; 
    display: flex;
    justify-content: center; 
}

.submit-btn {
    padding: 20px; 
    font-size: 1.3rem; 
    border: 2px solid #af4c4c; 
    border-radius: 20px; 
    backdrop-filter: blur(10px); 
    color: royalblue;
    background-color: transparent; 
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    display: inline-flex;
    justify-content: center;
    align-items: center;    
}

.submit-btn:hover {
    background-color: #5e4caf; 
    color: white; 
    border-color: #5e4caf;
}

.input-label {
    margin-bottom: 5px;
    color: royalblue; /* Optional: matches your color scheme */
    font-size: 1.3rem; /* Optional: to match your design */
    user-select: none;
}

.input-text, .input-textarea {
    width: 100%; /* Adjust as necessary */
    padding: 10px;
    border: 2px solid #a34caf; /* Matches your theme */
    border-radius: 10px; /* Adjust as necessary */
    font-size: 1rem; /* Adjust as necessary */
    color: royalblue; /* Matches your theme */
    background-color: transparent; /* For consistency */
}

.input-textarea {
    height: 100px; /* Adjust based on your needs */
    resize: vertical; /* Allows the user to adjust the textarea's height */
}