body{
    background: red;
}
#formContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 45vh;
}
#myForm{
    padding: 20px;
    border: 3px solid;
    border-radius: 15px;
    background-color: hsl(0, 0%, 60%);
}
.forms{
    margin: 7px;
}
input[type="text"].forms {
    margin-bottom: 5px;
}