body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('abstract-futuristic-background-concept_23-2148409810.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh; /* Full height of the viewport */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    width: 70vw; /* Adjust based on your preference */
    height: 70vh; /* Adjust based on your preference */
    position: relative;
  }
  
  .portfolio {
    background-color: #ffffff;
    border-radius: 10px;
    border: 3px solid hsl(0, 1%, 74%); /* Blue border for visual distinction */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Shadow for depth */
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%; /* Make portfolio items take the full height of their grid area */
  }
  
  .portfolio:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.3); /* More pronounced shadow on hover for a dynamic effect */
  }
  
  #top-left {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  
  #top-right {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }
  
  #bottom-left {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  
  #bottom-right {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
  }