<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Matchmaking</title>
    <link rel="stylesheet" href="/styles/frontpage.css" type="text/css">
</head>
<body>

    <div class="navbar">
        <button class="dropbtn" onclick="toggleDropdown()">Menu</button>
        <div class="dropdown-content" id="dropdownContent">
            <a href="/templates/settings">Settings</a>
            <a href="/templates/about">About</a>
        </div>
    </div>
    
    <div class="search-container">
        <input type="text" placeholder="Search..." name="search">
        <button type="submit">Submit</button>
    </div>
    
    <div class="game-container">
        <a class="image-link" onclick="selectBrawlStars()">
            <img src="/images/Brawl_stars.jpg" alt="Brawl Stars" class="game-image">
        </a>
        <a class="image-link" onclick="selectLeagueOfLegends()">
            <img src="/images/leaguepage.jpg" alt="League of Legends" class="game-image">
        </a>
        <a class="image-link" onclick="selectRocketLeague()">
            <img src="/images/Rocket league.jpg" alt="Rocket League" class="game-image">
        </a>
        <a class="image-link" onclick="selectValorant()">
            <img src="/images/Valorantpage.jpg" alt="Valorant" class="game-image">
        </a>
    </div>

<script src="/scripts/frontpage.js">   </script>
</body>
</html>