<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div id="formContainer">
        <form id="myForm"  class="forms"> 
        <label for="usename" class="forms"> username: </label>
        <input type="text" class="forms" id="myUsername" placeholder="Mincho" required> <br>
        <label for="password" class="forms"> password: </label> 
        <input type="password" id="myPassword" class="forms" minlength="8" maxlength="30" required> <br>
        <input type="submit" class="forms"> <br>
    
        </form>
    </div>
</body>
</html>