<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/index.css" type="text/css">

</head>
<body>
    <div id="DACONTAINER">
    <div id="message">
        <span>J</span><span>o</span><span>i</span><span>n</span><span> </span>
        <span>o</span><span>u</span><span>r</span><span> </span>
        <span>g</span><span>a</span><span>m</span><span>i</span><span>n</span><span>g</span><span> </span>
        <span>c</span><span>o</span><span>m</span><span>m</span><span>u</span><span>n</span><span>i</span><span>t</span><span>y</span><span>!</span><span> </span>
        <span>D</span><span>i</span><span>s</span><span>c</span><span>o</span><span>v</span><span>e</span><span>r</span><span>,</span><span> </span>
        <span>c</span><span>o</span><span>n</span><span>n</span><span>e</span><span>c</span><span>t</span><span>,</span><span> </span>
        <span>a</span><span>n</span><span>d</span><span> </span>
        <span>e</span><span>x</span><span>p</span><span>l</span><span>o</span><span>r</span><span>e</span><span> </span>
        <span>g</span><span>a</span><span>m</span><span>e</span><span>s</span><span> </span>
        <span>t</span><span>o</span><span>g</span><span>e</span><span>t</span><span>h</span><span>e</span><span>r</span><span>!</span>
    </div>
<br>
    <div id="buttonContainer">
        <button id="firstButton"  class="Mybuttons" onclick()="SignUpRedirect">SIGN UP </button>
        <button id="secondButton" class="Mybuttons" onclick()="LogInRedirect">LOG IN </button> 
    </div>
    </div>
    <script src="/scripts/index.js"></script>
</body>
</html>