<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/styles/login.css">
</head>
<body>
    <div id="formContainer">
        <form id="myForm" class="forms"> 
            <label for="myUsername" class="forms">Username:</label>
            <input type="text" id="myUsername" class="forms" placeholder="Username..." required> <br>
            <label for="myPassword" class="forms">Password:</label> 
            <input type="password" id="myPassword" class="forms" placeholder="Password..." minlength="8" maxlength="30" required> 
            <p id="InvalidLogin" class="hidden">Login credentials are invalid</p>
            <br>
            <input type="submit" class="forms"> <br>
        </form>
    </div>
    <script src="/scripts/login.js"></script>
</body>
</html>