<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Site</title>
    <link rel="stylesheet" href="/styles/settings.css">
</head>
<body>
    <form class="games-list">
        <div class="game-item">
            <input type="checkbox" id="LoL" name="league_of_legends" class="game-checkbox">
            <label for="LoL" class="game-label">League of Legends</label>
        </div>
        <div class="game-item">
            <input type="checkbox" id="Valorant" name="valorant" class="game-checkbox">
            <label for="Valorant" class="game-label">Valorant</label>
        </div>
        <div class="game-item">
            <input type="checkbox" id="RocketLeague" name="rocket_league" class="game-checkbox">
            <label for="RocketLeague" class="game-label">Rocket League</label>
        </div>
        <div class="game-item">
            <input type="checkbox" id="BrawlStars" name="brawl_stars" class="game-checkbox">
            <label for="BrawlStars" class="game-label">Brawl Stars</label>
        </div>

        <div class="input-item">
            <label for="contactInfo" class="input-label">Contact Info:</label>
            <input type="text" id="contactInfo" name="discord" class="input-text">
        </div>
        
        <!-- About Me Textarea -->
        <div class="input-item">
            <label for="aboutMe" class="input-label">About Me:</label>
            <textarea id="aboutMe" name="about_me" class="input-textarea"></textarea>
        </div>

        <div class="submit-container">
            <input type="submit" class="submit-btn">
        </div>
    </form>
    <script src="/scripts/tags.js"></script>
</body>
</html>