<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Form</title>
    <link rel="stylesheet" type="text/css" href="/styles/signup.css"/>
</head>
<body>
    <div id="formContainer">
        <form id="myForm" class="forms">
            <label for="myUsername" class="forms">Username:</label>
            <input type="text" id="myUsername" class="forms" placeholder="Username..." maxlength="50" required><br>
            
            <label for="myPassword" class="forms">Password:</label>
            <input type="password" id="myPassword" class="forms" placeholder="Password..." minlength="8" maxlength="50" required><br>
            
            <label for="confirmPassword" class="forms">Confirm Password:</label>
            <input type="password" id="confirmPassword" class="forms" placeholder="ConfirmPassword..." minlength="8" maxlength="50" required>
            
            <p id="UsernameTaken" class="hidden">Username is already taken</p>
            <p id="PasswordsDifferent" class="hidden">Passwords are different</p>

            <input type="submit" class="forms"><br>
        </form>
    </div>
    <script src="/scripts/signup.js"></script>
</body>
</html>