<configuration>
    <variable name="USER_TMP" value="/tmp/hacktues"/>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${USER_TMP}/hacktues.log</file>
        <append>false</append>
        <encoder>
            <pattern>
                [%d{dd.mm.yyyy HH:mm:ss.SSS}] [%-5level] [%logger{36}] [%msg]%n
            </pattern>
        </encoder>
    </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                [%d{dd.mm.yyyy HH:mm:ss.SSS}] [%-5level] [%logger{36}] [%msg]%n
            </pattern>
        </encoder>
    </appender>
    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>
    <logger name="com.hacktues" level="debug">
        <appender-ref ref="FILE"/>
    </logger>
</configuration>